
.error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
}
.container_body {
  margin: 50px 80px 80px 80px;
}

Form {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
Form h4 {
  text-transform: uppercase;
}

.split_box {
  display: flex;
  box-shadow: rgb(0 0 0 / 12%) 1px 3px 8px 11px,
    rgb(0 0 0 / 24%) 1px 2px 11px 3px;
  /* box-shadow: 2px 0px 9px 3px #b0e0e6; */
}
.section_cl {
  width: 100%;
}
.split_box .info {
  padding: 30px 20px 10px 20px;
  text-align: justify;
  color: #fff;
  background: #6495ed;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.split_box .info .req {
  color: rgba(255, 0, 0, 0.793);
}
.split_box .form_deatils {
  background: #fff;
  color: #6495ed;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  /* box-shadow: 2px 0px 9px 3px #6495ed; */
}
.text_field_deatils input {
  margin: 5px 5px 2px 5px;
  padding: 5px 5px 5px 10px;
  width: 370px;
  border-radius: 18px;
  border: 2px solid#757575b2;
  background: #e5e4e279;
}
.text_field_deatils input:focus {
  outline: none;
  border: 2px solid rgba(255, 0, 0, 0.504);
}
.text_field_deatils {
  margin-top: 15px;
}
Form .btn_submit {
  text-align: center;
  width: 370px;
  border-radius: 18px;

  margin: 20px 0;
  padding: 5px 5px 5px 10px;
  background: #6495ed;
  color: #fff;
  border: 2px solid#6495ed;
}
Form .btn_submit:hover {
  background: #fff;
  color: #6495ed;
}

